.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #091837;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.login-form {
  width: 300px;
  margin: 100px auto;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 10px;
  text-align: center;
}

.login-form h3 {
margin-bottom: 20px;
}

.login-form form div {
margin-bottom: 15px;
}

.login-form input {
padding: 8px;
width: 100%;
box-sizing: border-box;
margin-top: 5px;
}

.login-form button {
padding: 10px 20px;
background-color: #007bff;
color: #fff;
border: none;
border-radius: 5px;
cursor: pointer;
}

.login-form button:hover {
background-color: #0056b3;
}

.navbar {
  background-color: #333;
  padding: 15px;
  text-align: center;
}

.navbar ul {
list-style-type: none;
padding: 0;
}

.navbar ul li {
display: inline;
margin-right: 20px;
}

.navbar ul li a {
color: white;
text-decoration: none;
font-weight: bold;
}

.navbar ul li a:hover {
text-decoration: underline;
}
